extends layout

block body

	.main-viewport1
		
		.container
			.col-md-3
				.row
					a.btn.btn-primary(href="/upload", style="width:100%") Upload Images
				.row
					a.btn.btn-primary(href="/tag" style="width:100%") Tag Images
				.row
					a.btn.btn-primary(href="/Settings" style="width:100%") Settings
