extends layout

block body

  .container
    .col-md-12
      .row
        h1 Welcome to the looks
      .row
      p.bigbutton
        a.bigbutton.btn.btn-lg.btn-danger(href='/register', role='button') Register