extends layout

block body
	.container
		.row
			.col-lg-6
					h1 Add a hairdresser
					form(accept-charset='UTF-8', role='form', method='post', action='/prouser')
						fieldset
							.form-group
							label.control-label(for='fullname') Full name
							input.form-control(name='fullname' id='fullname' type='text' required)
						.form-group
							label.control-label(for='email') Email
							input.form-control(name='email' id='email' type='email' required)
						.form-group
							label.control-label(for='website') Website
							input.form-control(name='website', id='website' type='website', value='', required)

						input.btn.btn-lg.btn-success.btn-block(type='submit', value='Add')
						br
						if error
							.alert.alert-dismissable.alert-danger.register-fail
								button.close(data-dismiss='alert', type='button') &times;
								p.
									#{error}


