extends baselayout

block content
  body.body-with-navbar.with-background
    .container
      .row
        .col-md-4.col-md-offset-4
          .panel.panel-default.transparent-background
            //.panel-heading
              h3.panel-title Sign Up!
            .panel-body
              input.btn.btn-lg.btn-facebook.btn-block(type='submit', value='Sign Up with Facebook' onclick="fb_login();")
              //fb:login-button(scope='public_profile,email', onlogin='checkLoginState();' data-size="medium")
              p.disclaimer We promise never to share anything without your permission
              hr
              center
                h4 OR
              form(accept-charset='UTF-8', role='form', method='post', action='')
                fieldset
                  .form-group
                    label.control-label(for='fullname') Full name
                    input.form-control(name='fullname' id='fullname' type='text' required)
                  .form-group
                    label.control-label(for='username') Email
                    input.form-control(name='username' id='username' type='email' required)
                  .form-group
                    label.control-label(for='password') Password
                    input.form-control(name='password', id='password' type='password', value='', required)
                 
                  input.btn.btn-lg.btn-success.btn-block(type='submit', value='Sign Up with Email')
                  br
                  if error
                    .alert.alert-dismissable.alert-danger.register-fail
                      button.close(data-dismiss='alert', type='button') &times;
                      p.
                        #{error}
              
                  

block scripts
  script.
    $(document).ready(function() {
      $('form').bootstrapValidator({
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
            fullname: {
                trigger: 'blur',
                validators: {
                    regexp: {
                        regexp: /^([A-Za-z\u00C0-\u017F]*(\s))+[A-Za-z\u00C0-\u017F]*$/,
                        message: 'The full name must have first and last name and can consist of alphabetical characters and spaces only'
                    },
                    notEmpty: {
                        message: 'Name is required'
                    }
                }
            },
            username:{
              trigger:'blur'
            },
            password:{
              
              validators: {
                    regexp: {
                        regexp: /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,100}/,
                        message: 'Your password must be between 8 and 100 characters, and must contain lowercase letters, uppercase letters, and numbers.'
                    },
                    notEmpty: {
                        message: 'Password is required'
                    }
                }
            }
        }
      });

      $('#fullname').on('blur',function(e){

        this.value = this.value.toTitleCase();

        });
    });  
