extends layout

block body


	div#imgcontent
		div#imgcontainer.looks-container
			// TO BE REMOVED IF NOT LOADING FROM BACKEND
			if images
				each val in images
					div.theLooksItem
						div.theLooks.theLooksBase.summary
							div.theLooksWrapper
								div.theLooksHolder
									a.theLooksImageWrapper
										div.hoverMask
										if val.test
											img.theLooksImg.fullBleed.noFade(src="#{val.imageId}" style="height:352px;width:236px;")
										else
											img.theLooksImg.fullBleed.noFade(src="https://res.cloudinary.com/www-thelooks-net/image/upload/#{val.imageId}" style="height:auto;width:236px;")
							div.theLooksMeta
								p.theLooksDescription Hi there this ia kind of the looks which you should have
							div.theLooksCredits
								div.theLooksCreditItem
									a
										img.theLooksCreditImg.user(alt="G" )
									.theLooksCreditName Rajeev Guru
									.theLooksCreditTitle My image isbetter than yours ...





	script#imgtemplate(type='text/html')
		div.theLooksItem
			div.theLooks.theLooksBase.summary
				div.theLooksWrapper
					div.theLooksHolder
						a.theLooksImageWrapper
							div.hoverMask
							<img class="theLooksImg fullBleed noFade" src="<%= imageId %>" style="height:352px;width:236px;"/>
				div.theLooksMeta
					p.theLooksDescription Hi there this ia kind of the looks which you should have
				div.theLooksCredits
					div.theLooksCreditItem
						a
							img.theLooksCreditImg.user(alt="G" )
						.theLooksCreditName Rajeev Guru
						.theLooksCreditTitle My image isbetter than yours ...

	script#rowtemplate(type='text/html')
		div.row



block scripts
	script(src='/javascripts/tagging.js')

