extends layout

block body
	.main-viewport
		h3 Upload pictures
		form#my-awesome-dropzone.dropzone(action='/upload')
			<div class="dz-message" data-dz-message><span>Your Custom Message</span></div>
block scripts
	script.
		Dropzone.autoDiscover = false;
		var cloudinarySignature; 
		$.getJSON( "image/signature", function( data ) {
			cloudinarySignature = data ;
			});
		$(function() {
		// Now that the DOM is fully loaded, create the dropzone, and setup the
		// event listeners
		//https://api.cloudinary.com/v1_1/www-thelooks-net/auto/upload
			var myDropzone = new Dropzone("#my-awesome-dropzone",{
				url: 'https://api.cloudinary.com/v1_1/www-thelooks-net/image/upload'
				});
			
			myDropzone.on("sending", function(file,xhr,formData) {
				
				formData.append("timestamp", cloudinarySignature.timestamp); // Will send the filesize along with the file as POST data.
				formData.append("api_key", cloudinarySignature.api_key);
				formData.append("signature", cloudinarySignature.signature);
			});
			myDropzone.on("success",function(file,res){
				var data = {imageId: res.public_id + '.' + res.format}
				$.post("proalbum",data,function(r){
						// successfully posted the image to database
					});

				});

			
		})
