extends baselayout

block content
  body
    .welcome.with-background
      
      .text-vertical-bottom
        a.btn(href='#'): img(src='images/android_app.png')
        a.btn(href='#'): img(src='images/apple_app.png')

    .login-section.transparent-background
      panel.panel-default
            //.panel-heading
              h3.panel-title Sign Up!
            .panel-body
              .social-login
                p USE SOCIAL SIGNUP
                ul.list-inline
                  li: a.btn-social.btn-outline.fb(href='#'): i.fa.fa-fw.fa-facebook
                  li: a.btn-social.btn-outline.tw(href='#'): i.fa.fa-fw.fa-twitter
                  li: a.btn-social.btn-outline.google(href='#'): i.fa.fa-fw.fa-google-plus
                
              //input.btn.btn-lg.btn-facebook.btn-block(type='submit', value='Sign Up with Facebook' onclick="fb_login();")
              //fb:login-button(scope='public_profile,email', onlogin='checkLoginState();' data-size="medium")
              hr.seperator-login
              center
                p.badge.badge-important OR
              // Here is the tabs for login or sign up  
              ul.nav.nav-tabs.nav-justified(role='tablist')#loginTabs
                li.active
                  a(role='tab', data-toggle='tab' data-target='#login') Log In
                li
                  a(data-target='#signup',role='tab', data-toggle='tab') Sign Up
              .tab-content
                .tab-pane.fade.in.active(id="login")
                  form(accept-charset='UTF-8', role='form', method='post', action='/login')
                    .form-group
                      input#username.form-control.tla-form-input(type='email', name='username', placeholder='Email', autofocus)
                    .form-group
                      input#password.form-control.tla-form-input(type='password', name='password', placeholder='Password')
                    input.btn.btn-lg.btn-success.btn-block(type='submit', value='Sign In')

                .tab-pane.fade#signup
                  form(accept-charset='UTF-8', role='form', method='post', action='/register')
                    fieldset
                      .form-group
                        input.form-control.tla-form-input(name='fullname' id='fullname' type='text' placeholder='Name' required)
                      .form-group
                        input.form-control.tla-form-input(name='username' id='username' type='email' required placeholder='Email')
                      .form-group
                        input.form-control.tla-form-input(name='password', id='password' type='password', value='', required placeholder='Password')
                     
                      input.btn.btn-lg.btn-success.btn-block(type='submit', value='Sign Up with Email')
block scripts
  script.
    $(document).ready(function() {
      $('#loginTabs a:first').tab('show')
    })                     

    