doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title= 'the looks'
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
    link(href='/stylesheets/style.css', rel='stylesheet')
    <!--[if lt IE 9 ]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  body
    .welcome
      ul.list-inline
        li: a.btn-social.btn-outline.fb(href='#'): i.fa.fa-fw.fa-facebook
        li: a.btn-social.btn-outline.google(href='#'): i.fa.fa-fw.fa-google-plus
        li: a.btn-social.btn-outline.tw(href='#'): i.fa.fa-fw.fa-twitter
        li: a.btn-social.btn-outline.google(href='#'): i.fa.fa-fw.fa-youtube
      .text-vertical-center
        h1.title-text the looks
        br
        a.btn.btn-dark.btn-lg(href='/home') Find Out More

    aside.call-to-action
      .container
        .row
          .col-lg-12.text-center
            .h3 GET THE APP
            a.btn(href='#'): img(src='images/android_app.png')
            a.btn(href='#'): img(src='images/apple_app.png')