<div class="row">
    <div class="col-md-12">
        <div class="col-md-8">
            <img src="SRC_TO_BE_REPLACED" width="300px"/>
        </div>
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" name="sex" id="option1" checked> Male </input>
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" name="sex" id="option2">Female</input>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <select name="haircolor">
                        <option value = "" selected default>Choose a colour</option>
                        <option value="platine">PLATINE</option>
                        <option value="blond">BLOND</option>
                        <option value="brown">BROWN</option>
                        <option value="black">BLACK</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="hairlength">
                        <option value = "" selected default>Choose hair length</option>
                        <option value="short">SHORT</option>
                        <option value="medium">MI-LONg</option>
                        <option value="long">LONG</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="hairstyle" value="classic">CLASSIC</input>
                    <input type="checkbox" name="hairstyle" value="vintage">VINTAGE</input>
                    <input type="checkbox" name="hairstyle" value="creative">CREATIVE</input>
                    <input type="checkbox" name="hairstyle" value="trendy">TRENDY</input>
                    <input type="checkbox" name="hairstyle" value="prestige">PRESTIGE</input>
                    <input type="checkbox" name="hairstyle" value="curly">CURLY</input>
                    <input type="checkbox" name="bob" value="creative">BOB</input>
                </div>



            </form>
        </div>
    </div>
    </div>